@import url(../index.css);

.input-wrapper {
  flex: 0 0 min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100vh;
}

@media (max-width: 768px) {
  .input-wrapper {
    align-self: center;
    flex-direction: column;
  }
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  width: 350px;
  height: 97%;
}

.savedCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  padding: 10px 0;
  min-height: 30px;
  background-color: var(--background-color);
  border-radius: 12px;
  box-shadow: var(--shadow-color) 0px 1px 4px;
}

.savedCard > p {
  max-width: 60%;
  text-align: center;
}

.savedCard > div {
  position: absolute;
  display: flex;
  gap: 2px;
  right: 5px;
}

.inputCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
  padding: 20px;
  height: max(100px, min-content);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 12px;
  box-shadow: var(--shadow-color) 0px 1px 4px;

  &.selectButton {
    justify-content: space-evenly;
    align-self: flex-start;
    margin-top: 12px;
    height: 150px;
    gap: 5px;
    flex-direction: column;
    padding: 10px;

    @media (max-width: 768px) {
      flex-direction: row;
      width: 150px;
      height: auto;
      align-self: center;
      margin: 0;
    }
  }

  &.selectButton > button {
    border: none;
    background: none;
    cursor: pointer;
    border-radius: 12px;
    height: 50%;
  }

  &.selectButton > button.active {
    background-color: var(--background-color);
    cursor: default;
  }

  button.active > span {
    cursor: default;
  }
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.actionButton {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  &.cancel {
    background-color: var(--gray-color);
  }
}

.iconButton {
  cursor: pointer;
  color: var(--accent-color);
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;

  &.expand {
    position: absolute;
    right: 10px;
  }

  &.delete {
    color: var(--red-color);
  }

  &.active {
    transform: rotate(0);
  }

  &.inactive {
    transform: rotate(180deg);
  }

  &.large {
    font-size: 32px;
  }
}

.inputCard .cardButtons {
  display: flex;
  gap: 10px;
  width: max-content;
}

.inputCard > div {
  width: 90%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

fieldset {
  display: contents;
}

.infoForm input,
.infoForm textarea {
  margin-bottom: 3px;
  padding: 5px 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--background-color);

  &:focus {
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #0967cc;
    outline: none;
  }
}

.infoForm textarea {
  height: 100px;
  resize: none;
}

label {
  font-weight: bold;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

input[type="radio"]::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%;
  background-color: var(--accent-color);
  transform: scale(0);
  transition: transform 0.2s ease;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
