@import url(../index.css);

.resume-wrapper {
  flex: 0 0 min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .resume-wrapper {
    align-self: center;
  }
}

.resume {
  display: grid;
  grid-template: 1fr 7fr / 1fr 2.5fr;
  grid-template-areas:
    "header   header"
    "sidebar  body";
  height: 97%;
  aspect-ratio: 8.5 / 11;
  background-color: var(--resume-background-color);
  color: var(--resume-mainText-color);
  border: var(--gray-color) solid 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.flex-contents {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}

.header *,
.sidebar * {
  color: var(--resume-sideText-color);
}

.header > h3,
.sidebar > h2 {
  color: var(--resume-link-color);
}

.header {
  grid-area: header;
  gap: 0;
  justify-content: center;
  align-items: center;
  background-color: var(--resume-header-color);
}

.sidebar {
  grid-area: sidebar;
  justify-content: flex-start;
  gap: 10px;
  background-color: var(--resume-accent-color);
  padding-top: 20px;
}

.sidebar section:first-of-type {
  margin-bottom: 10px;
}

.sidebar > section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}

.sidebar > section > span {
  display: flex;
  align-items: center;
  gap: 2px;
}

.resumeIcon {
  font-size: 18px;
}

.sidebar h2 {
  align-self: center;
}

.resume-body {
  grid-area: body;
}

.resume-body > h2 {
  margin: 0 auto;
}

.work-experience {
  display: grid;
  grid-template: max-content max-content / 1fr 1fr;
  gap: 5px;
  margin-bottom: 15px;
  grid-template-areas:
    "company-position  location-timeline"
    "description        description";
}

.work-experience :first-child {
  grid-area: company-position;
}

.work-experience :nth-child(2) {
  grid-area: location-timeline;
}

.work-experience :nth-child(2) h5 {
  justify-self: end;
}

.work-experience > ul,
.project > ul {
  grid-area: description;
  list-style-type: disc;
  padding-left: 15px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
