*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  padding: 0;
  border: 0;
  /*   font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}

ul {
  padding: 0;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6,
label {
  text-wrap: balance;
  color: var(--primary-color);
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --font-size: 1.2rem;
  --header-one: calc(1.4 * var(--font-size));
  --header-two: calc(1.2 * var(--font-size));
  --header-three: calc(1.1 * var(--font-size));
  --primary-color: #343a40;
  --secondary-color: #fdf6ec;
  --accent-color: #4c76b5;
  /*   --background-color: #333333;
 */
  --text-color: #ffffff;
  --background-color: #e9ecef;
  --red-color: #c44e52;
  --shadow-color: #ced4da;
  --gray-color: #495057;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
